.layout--home-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   }
   
   @media screen and (min-width: 40em) {
    .layout--home-layout .layout__region--header_left {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
      flex: 0 1 20%;
    }
   
    .layout--home-layout .layout__region--header_right {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
      flex: 0 1 80%;
    }

    .layout--home-layout .layout__region--top_banner {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
    }
   
    .layout--home-layout .layout__region--content_left {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
      flex: 0 1 33.33%;
    }
   
    .layout--home-layout .layout__region--content_center{
      -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
      flex: 0 1 33.33%;
    }
   
    .layout--home-layout .layout__region--sidebar {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
      flex: 0 1 33.33%;
    }

    .layout--home-layout .layout__region--cta {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
    }
   
   
    .layout--home-layout .layout__region--footer_left {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 20%;
    }

    .layout--home-layout .layout__region--footer_middle {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
      flex: 0 1 60%;
    }
   
    .layout--home-layout .layout__region--footer_right {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 20%;
    }
   }